.box {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
}

.buttons {
    display: block;
    width: 200px;
    margin-left: 100px;
}

.button {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    text-align: center;
    padding: 10px 16px;
    border-style: none;
}

.button-1 {
    background-color: #ea4c89;
    color: #ffffff;
    transition: color 100ms;
    margin-right: 10px;
}

.button-1:hover {
    background-color: #f082ac;
}

.button-2 {
    background-color: rgb(216, 216, 216);
    color: #333333;
    transition: all 200ms;
    z-index: 1000;
}

.box {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url('img/images.jpg');
    background-size: cover; 
    background-position: center; 
    height: 100vh;
}

@keyframes fireworks {
    0% {
        transform: translateY(0) rotate(0) scale(0);
        opacity: 0;
    }
    100% {
        transform: translateY(-100px) rotate(360deg) scale(1);
        opacity: 1;
    }
}

.fireworks {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ff0000; /* Cor dos fogos de artifício */
    border-radius: 50%;
    animation: fireworks 5s ease-out;
}
